.room-order-box {
  height: 52px;
  position: relative;
  cursor: pointer;
  font-size: 10px;
  padding: 4px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 22px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 52px;
  }

  & .orgin-source {
    display: flex;
    align-items: center;
    &::before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #000;
      margin-right: 4px;
    }
  }

  &.status-1 {
    background: #f6ffed;

    &::before {
      background-color: #389e0d;
    }
  }
  &.status-2 {
    background: #fcffe6;
    &::before {
      background-color: #7cb305;
    }
  }
  &.status-3 {
    background: #fff7e6;
    &::before {
      background-color: #d46b08;
    }
  }
  &.status-4 {
    background: #f6ffed;
    &::before {
      background-color: #389e0d;
    }
  }
  &.status-5 {
    background: #fff7e6;
    &::before {
      background-color: #d46b08;
    }
  }
  &.status-6 {
    background: #f0f5ff;
    &::before {
      background-color: #1d39c4;
    }
  }
  &.status-7 {
    background: #fcffe6;
    &::before {
      background-color: #7cb305;
    }
  }
}
