.ant-drawer-body {
  padding-top: 8px;
  .ant-pro-card {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.06);
  }
  .ant-pro-card-header,
  .ant-pro-card-body {
    padding-left: 0;
    padding-right: 0;
  }
  .color-brick {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
  }
}
