.trade-statistic {
  .trade-statistic-data-piker {
    margin-top: 16px;
  }
  .trade-two-columns {
    display: flex;
    flex-direction: row;
    .trade-statistic-daily {
      flex: 1;
    }
    .trade-statistic-disribution {
      margin-right: 24px;
    }
  }
}
