.order-person-drawer {
  margin: -24px;
  .room-sticky {
    width: 100%;
    display: flex;
    margin-bottom: 24px;
    span {
      flex: 1;
      background: #eee;
      padding: 8px 8px;
    }
    span:not(:last-child) {
      border-right: 1px solid #ccc;
    }
  }
  .person-row {
    margin-bottom: 12px;
    .ant-form-item {
      margin-bottom: 0;
    }
  }
  .person-row,
  .add-row {
    padding: 0 24px;
  }
  .ant-btn-link {
    padding-left: 0;
  }
}
