.order-detail-drawer {
  .ant-tabs-nav {
    padding: 0 24px;
  }
  .ant-drawer-body {
    padding: 0;
    font-size: 14px;
    .ant-pro-card {
      border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
    }
    .basic-section {
      padding: 0 24px;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
      .reserve-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .reserver {
          font-size: 16px;
          font-weight: bold;
        }
        .check-in span {
          font-size: 12px;
          color: #fff;
          display: inline-block;
          padding: 1px 8px;
          background-color: rgb(255, 168, 102);
        }
        .channel-tag {
          border-radius: 2px;
          border: 1px solid #f0f1f5;
          padding: 4px 12px 4px 18px;
          position: relative;
          box-sizing: content-box;
          i {
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            left: 8px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      .fee-row {
        display: flex;
        justify-content: space-between;
        color: #666;
        margin-bottom: 20px;
        .fee {
          font-size: 18px;
          color: #053dc8;
          text-align: center;
        }
      }
    }
    .custom-form-item {
      display: flex;
      margin-bottom: 6px;
      label {
        flex-shrink: 0;
        text-align: right;
        flex-basis: 80px;
      }
      div {
        word-break: break-all;
      }
    }
  }
  .ant-drawer-footer .ant-space {
    flex: 1;
    justify-content: flex-end;
  }
  .ant-empty-normal {
    margin: 0;
  }
}
